//
.hc-facet-container {
  max-height: 250px;
  overflow-y: auto;
}

// components
.hc-calendar-container {
  // @import '~bootstrap/scss/bootstrap';
  // @import '~bootstrap/scss/functions';
  // @import 'variables';
  @import 'bootstrap';

  .calendar-month {
    border: solid 1px #ccc;
    text-align: center;
  }

  .calendar-cell {
    background: #fff;
    border: solid 1px #ddd;
    padding: 1rem 0;
  }

  .calendar-cell-today {
    background: transparent;
    // background: rgba($gray-400, 0.2);
    background: rgba(#eee, 0.2);
  }

  .calendar-cell-active {
    background: transparent;
    // background: rgba($info, 0.2);
    background: rgba(#ddd, 0.2);
  }

  .calendar-cell-empty {
    color: #aaa;
  }

  .calendar-day-list:not(:empty) {
    border: solid 1px #ddd;
    text-align: left;
    padding: .5rem;
  }

  .past-event {
    // background: transparent;
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
  }
}
